/tests/

# Alembic
/alembic.ini
/place_service/migration/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Database files
*.db
place_service/places.db

# If using PostgreSQL, ignore database dumps
*.pg_dump

# Environment variables file
.env

# Media and static files (optional, unless they are not dynamically generated)
media/
staticfiles/

# Ignore the entire virtual environment folder
venv/
env/
.venv

# PyCharm specific
.idea/
*.iml


# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pytest cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints/

# Celery
celerybeat-schedule
celerybeat.pid


# Backup files
*.bak
*.swp
*.swo
*.tmp

# MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*


# Idea files from JetBrains
.idea/

# PEP 582 — ignore __pypackages__ if used
__pypackages__/
