[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.115.0"
uvicorn = "~=0.34.0"
sqlalchemy = "*"
aiosqlite = "*"
httpx = "*"
alembic = "*"

[dev-packages]
pytest-mock = "*"
pytest = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
